*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    
}
#header .header-list{
    padding: 24px 26px;
    display: flex;
    
}

.header-list .name {
    width: 80%;
    text-align: center;
}

.icon-list {
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}  

.header-list .menu {
    
    
}

#header .menu-list {
    display: flex;
    padding: 20px 0;
    align-items: center;
    list-style: none;
    justify-content: center;
}

#header .menu-list li {
    margin: 0 16px;
}

.menu-list li a {
    text-decoration: none;
    color: #666;
    font-weight: 200;
    font-size: 16px;
}

#sider {
    width: 100%;
    display: block;
    height: auto;
}

#slider .slider-img {
    width: 100%;
    height: auto;
}

#heading {
    padding: 48px 0;
}

#heading .heading-site {
    text-align: center;
}

#product {
    display: flex;
    padding-top: 20px;
}
#product .product-item {
    text-align: center;
    margin: 0 16px;
    width: 25%;
}

#product .product-img {
    width: 228px;
    object-fit: cover;
}

#product .product-name {
    padding: 20px 10px;
}

#product .product-price {
    text-align: center;
    font-weight: 300;
}

#product .product-priceold {
    text-decoration: line-through;
    margin-left: 24px;
}

#banner {
    margin-top: 48px;
    height: 400px;
    padding: 48px 0;
    background: url('/assets/img/banner1.png') center / cover no-repeat;
}

#banner .banner-box {
    text-align: center;
    float: right;
    padding-top: 200px;
    padding-right: 12px;
}

#banner .banner-name {

}

#banner .banner-content,
#banner .banner-time {
    color: #ccc;
    padding: 16px 0;
    font-weight: 300;
}


.ser {
    margin: 24px 48px;
}

.ser .ser-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ser .ser-item {
    padding: 0 12px;
    
}

.ser .ser-icon {
    
}

.ser .ser-content {
    margin: 10px 0;
}

.ser .ser-content,
.ser .ser-text {
    font-weight: 300;
}

#fashion {
    max-width: 1200px;
    display: flex;
}

#fashion .fashion-left {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
}

#fashion .sale-img,
#fashion .fas1 {
    max-width: 312px;
}


#fashion .fashion-right {
    flex: 0 0 66.666667%;
    max-width: 66.66667%;
    float: right;
}

#fashion .fas2 {
    max-width: 648px;
}

#fashion .fas3,
#fashion .fas4 {
    max-width: 324px;
}
 
